################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Final Project SimTech/.vs/Final Project SimTech/v15/Server/sqlite3
